@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.otf');
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url('../fonts/Quicksand-Light.otf');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.otf');
}
